---
import { getCollection } from 'astro:content';
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

import { href } from '../../../mdx';
import { createSidebar } from '../../../navigation/sidebar';

const sidebar = await createSidebar();
const decisionTypes = await getCollection('decisionTypes');

const domains = decisionTypes
    .reduce((acc, item) => {
        acc.add(item.data.domain);
        return acc;
    }, new Set() as Set<string>)
    .values();

const headings = [{
    depth: 2,
    slug: 'color',
    text: 'color'
}]

function capitalize(str: string): string {
    return str.charAt(0).toUpperCase() + str.substring(1)
}


// const headings = Array.from(domains).map(domain => ({
//     depth: 2,
//     slug: domain,
//     text: domain
// }))

const frontmatter={ title: 'Decision Types', headings }
---

<StarlightPage frontmatter={frontmatter} sidebar={sidebar as any}>
{
    Array.from(domains).map(domain => (
            <h2>{capitalize(domain)}</h2>
            <ul>
                {decisionTypes
                    .filter(type => type.data.domain === domain)
                    .map(decisionType => (
                        <li>
                            <a href={href(`/models/decision-types/${decisionType.id}`)}>
                                {decisionType.data.name}
                            </a>
                        </li>
                    ))}
            </ul>
    ))
}
</StarlightPage>
